{% extends 'base.html' %}
{% block page_title %}Shoepersonic|About Us{% endblock %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="mx-4 about-us">
    <h1 class="pt-2">About us</h1>
    <div class="about-us__section">
        <h2>What we do</h2>
        <p>Shoepersonic is a website dedicated to trying out running shoes. Every season we'll concentrate on a particular type of shoe. We'll
             buy a selection of models, run in them and tell you what we think, so you can decide which shoes are best for you.

             All the shoes we test out are available to buy through our site.
             
        </p>
    </div>
    <div>
        <h2>Our Reviews</h2>
        <p>To make our reviews, we have a decent run in the shoe and then 
            talk about how it feels to run in. You can probably tell it's completely unscripted. If any feature makes a difference to our experience,
             we'll mention it. If it doesn't we won't. For each shoe we test, we 
             think about the features that make it better for different types of runners. 
        </p>
        <p>
        
        </p>
    </div>
    <div class="about-us__section">
        <h2 class="pb-2">Who are we?</h2>
        <div class="about-us__section__sub-section">
            <h3>Harry, Founder</h3>
            <img class="rounded mx-auto d-block" src="media/about_us/harry_founder.png" alt="Harry the Founder" style="width: 15rem;">
            <p class="py-3">I love running. I've been running since school, and race all distances from 5ks up to Marathons, cross country in the winter 
                and road racing in the summer. 
                I work in London in an office. Like many runners I avoid the tube and run to and from work 
                and as much as I can during the week. Then at the weekend I do a Park run and a long Sunday run in the countryside. I've always found buying 
                running shoes on the internet very convenient but also stressful. Descriptions are always full of marketing jargon and never 
                talk about what they are actually like to run in. That's why I set up this site. So that when you come to buy a running shoe, you 
                understand which features of each shoe will suit you and your running style, and can get the best shoe for you.
            </p>  
            <p>
                This website wouldn't be up and running with out some help from my friends:
            </p>
        </div>
        <div class="about-us__section__sub-section">
            <h3>Louis, Co-Founder</h3>
            <img class="rounded mx-auto d-block" src="media/about_us/louis_cofounder.gif" alt="Louis, co-founder">
            <p class="py-3">
            My younger brother Louis describes himself as a fair weather middle distance runner.
            He'll turn up to a park run on Saturday and obliterate the field (most of it) and always keeps me on my toes on race day. 
            He helps out with everything to do with the running of our website. He can also juggle shoes (sort of).
            </p>
        </div>
        <div class="about-us__section__sub-section">
            <h3>Robbie, Cameraman</h3>
            <img class="rounded mx-auto d-block" src="media/about_us/robbie_cameraman.jpg" alt="Robbie the cameraman" style="width: 15rem;">
            <p class="py-3">Robbie studied Zoology at university and loves filming wildlife. He also does pet portraiture. He's exceptionally
                skilled, knowledgable, and a complete perfectionist and if you want to see more go to <a href="http://robbieharman.com">robbieharman.com</a>.
            </p>
        </div>
        <div class="about-us__section__sub-section">
            <h3>Luke, Photographer</h3>
            <img class="rounded mx-auto d-block" src="media/about_us/luke_photographer.jpg" alt="Luke the photographer" style="width: 15rem;">
            <p class="py-3">We do all our our own photography out there in the wild which means someone has to position themselves 
                in awkward, muddy places to get the best shot. That guy is Luke, civil engineer by day,
                photographer by night. 
            </p>
        </div>
    </div>
    <div class="pb-4">
        <h2>Running Clubs</h2>
        <p>Running clubs are the foundation of the running community in the UK. Every single weekend, when the rest of the country is in bed, there is 
            an army of people (usually volunteers) opening the track, laying out cones or tying tape to trees. 
        </p>
        <p>
            When we set up Shoepersonic, we 
            wanted to show our appreciation for these people and we do that by donating a percentage of our profits to them. When you buy shoes 
            from us you'll be asked to type in your running club. At the end of the year, we then donate 5% of the profits from that sale to that club.
             Just our way of saying thank you.
        </p>
    </div>
</div>

{% endblock %}