{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Delivery and Returns</h1>
    <h2>Delivery</h2>
    <p>
        Currently we offer a standard delivery option of 
        first class royal mail for free. We're based in Kent 
        so get in touch to arrange to pick them up as long as it is not too 
        far.  
    </p>
    <h2>Returns</h2>
    <p>
        If you are unhappy with your shoes or they don't fit 
        you can send them back to us within 30 days of purchase as 
        long as they are in perfect condition with all the labels attached.
    </p>
    <p>
        Please let us know if you would like a refund or exchange by email 
        so we can process your return as quickly as possible.
    </p>
</div>
{% endblock %}