{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <h1>Delivery and Returns</h1>
    <h2>Delivery</h2>
    <p>
        Currently we offer a standard delivery option for free. Your shoes will be with you ready to race in than 5-7 working days. 
        We will let you know when they have been dispatched by email.
    </p>
    <h2>Returns</h2>
    <p>
        If you are unhappy with your shoes or they don't fit then
        you can send them back to us within 30 days of your purchase date.
    </p>
    <p>
        You can send them back to our returns address:
    </p>
    <p>
        Harry Phelps, First Floor, 1 Upper James Street, Soho, London, W1f 9DE
    </p>
    <p>We can't pay for the postage and packaging and can't accept any liability if they are lost in the post.</p>
    <p>
        When we send you your shoes, you'll receive a sheet of paper with the details or your order, and the 
        return address. 
        You must include this piece of paper in your returned box. If it is missing we will return the shoes to you.
    </p>
    <p>
        Your shoes must be in perfect and unworn condition and in their original packaging including any spikes and accessories. If they are not we will return them to you.
    </p>
    <p>
        Once we receive your shoes and it has been inspected we will refund your payment within 14 days.
    </p>
    <p>
        If your shoes are faulty please contact us by email, preferably with a picture of the fault and we can talk it through.
    </p>
    <p>
        Please let us know if you would like to return something by email 
        so we can process it as quickly as possible at <a href="mailto:hello@shoepersonic.com">hello@shoepersonic.com</a>.
    </p>
</div>
{% endblock %}