{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Delivery and Returns</h1>
    <h2>Delivery</h2>
    <p>
        Currently we offer a standard free delivery option. Your shoes will be with you ready to race in no more than 5 working days. 
    </p>
    <h2>Returns</h2>
    <p>
        If you are unhappy with your shoes or they don't fit 
        you can send them back to us within 30 days of purchase as 
        long as they are in perfect condition with any labels attached.
    </p>
    <p>
        Please let us know if you would like a refund or exchange by email 
        so we can process your return as quickly as possible at <a href="mailto:shoepersonic@gmail.com">shoepersonic@gmail.com</a>.
    </p>
</div>
{% endblock %}