{% extends 'base.html' %}
{% block content %}
<h1>Terms and Conditions</h1>
<p>
As with any shopping experience, there are terms and conditions that apply to transactions at the Shoepersonic store. 
If you purchase a product via the Shoepersonic store, these Terms and Conditions apply 
to the sales contract between you and Shoepersonic along with the <a href="{% url 'privacy_policy' %}">Privacy Policy</a>. 
You need to be at least 18 years old to place orders on the Shoepersonic store.  
</p>
<h2>Returns</h2>
<p>
You have the right to cancel your order or return a product for any 
reason. To return a product purchased from the Shoepersonic store, 
simply return the product with the original receipt and original 
packaging to us within 30 calendar days after the date you, or a 
person indicated by you, acquired physical possession of the product.   
</p>
<p>
Once we receive the product we’ll provide you with a refund based on the original payment method within 10 calendar days.
</p>
<p>
All returned products remain your responsibility during transit and until they have been received by us.
</p>
<p>
Your product must be returned complete, unused and in ‘as new’ 
condition. It should be returned with the original box, 
packaging and accessories. If the product is damaged, we may 
offset the amount of your refund by the diminished value of the 
product. Any free or bundled gifts received with the product 
must also be returned.
</p>
<p>
    We will refund all costs paid by you associated with the product, 
    except for delivery costs. In the case where the product 
    delivered is incorrect or faulty we will refund your return 
    delivery costs up to the value of Royal Mail Signed For® 1st Class
    service. 
</p>
<p>
    Please note that you may not return the following, except in case of defect or lack of conformity:
</p>
<ul>
    <li>Shoepersonic Gift Cards</li>
    <li>Services, like gift packaging</li>
    <li>Sealed computer software that was unsealed after delivery</li>
</ul>
<p>
    For complete details on how to return a product purchased at 
    the Shoepersonic store, please visit the <a href="{% url 'delivery_and_returns' %}">Delivery and Returns</a>  
    help page.
</p>
<h2>Pricing and Price Reductions / Corrections</h2>
<p>
    Shoepersonic reserves the right to change prices for products 
    displayed on the Shoepersonic store at any time and to correct 
    pricing errors that may inadvertently occur. Any price changes 
    will not affect an order that has already been accepted by 
    Shoepersonic. In the event of a pricing error, we will notify 
    you of the error and allow you to either proceed with the 
    transaction at the correct price or cancel your order at no 
    cost to you.  
</p>
<h2>Product Packaging</h2>
<p>
    Some of the products we stock are supplied sealed in packaging 
    and therefore you may receive an item as part of your order that
     has previously been opened. We will occasionally open sealed
      packaging in order to photograph products or spot check
       quality control. Unless otherwise stated we guarantee all 
       products you receive as part of your order are brand new 
       and unused.  
</p>
<h2>Order, Order Acknowledgement and Order Acceptance</h2>
<p>
    To place an order for products at the Shoepersonic store, 
    you can visit the store website, and then simply add the 
    products you wish to your shopping basket, check out 
    (using your chosen payment method) with your Shoepersonic 
    account, and have your products shipped to you or to a person 
    designated by you. You will be given an opportunity to review 
    your order prior to submitting it.   
</p>
<p>
    PayPal and the following credit and debit cards can be used as payment: 
</p>
<ul>
    <li>Visa</li>
    <li>MasterCard</li>
    <li>Discover</li>
    <li>Maestro</li>
    <li>American Express</li>
</ul>
<p>
    When paying for your order you’ll be asked to enter your 
    payment details as part of the ordering process, and you’ll 
    find further instructions when you place your order. Once you 
    have placed your order, we will provide you with an order number.   
</p>
<p>
    Within a few hours after we receive your order, we’ll 
    email you an order confirmation that your order has been received. 
    As with the order number, 
    the order confirmation email does not signify our acceptance 
    of your order; we are simply confirming that we received 
    your order. Once we have processed your order and prepared 
    it for shipping, we will send you an email stating that we 
    have accepted your order, which will include the shipment 
    details. The decision to accept your order is in our sole 
    discretion. Because we want to make sure that we have your 
    product available, we won’t accept your order until we have 
    prepared your product for shipping. In most cases, this will 
    be within twenty-four hours for products that are in stock.
</p>
<h2>Shipping & Delivery</h2>
<p>
    The Shoepersonic store offers a standard delivery options. 
    The standard delivery is free of charge for any order exceeding 
    a certain amount. For orders below this amount, shipping fees 
    will apply. Please visit the <a href="{% url 'delivery_and_returns' %}">delivery and returns</a> help page for 
    the current shipping rates and fees. Your order will be shipped 
    once all products of your order are available for a bundle delivery. 
    Orders will not be accepted and products will not be delivered 
    to any address outside the United Kingdom.
</p>
<p>
    Please review the <a href="{% url 'delivery_and_returns' %}">delivery and returns</a> help page to learn more 
    about how and when you will receive the products you purchased 
    from the Shoepersonic store. Please note that the actual delivery 
    of your order can be impacted by many events beyond 
    Shoepersonic’s control once it leaves our facilities. We will, 
    however, notify you of any significant delays, and work with 
    you to ensure a smooth delivery. 
</p>
<p>
    As Shoepersonic takes care of the dispatch of the products 
    you purchase on the Shoepersonic store, the risk of loss or 
    damage to the product(s) shall pass to you when you, or a 
    person designated by you, acquires physical possession of the 
    product(s).
</p>
<h2>Customer Service</h2>
<p>
    If you experience any problem with your order or want to check 
    the status of your order, please sign in to your account or 
    get in touch via our contact page.
</p>
<h2>Export</h2>
<p>
    This contract is subject to applicable export control laws. 
    You may not export any product purchased from the Shoepersonic 
    store to another country if prohibited by export control laws. 
    If you do plan to export any products to another country, you 
    must obtain any legally required export licences (or other 
    government approvals) prior to doing so.   
</p>
<h2>Product Availability and Limitations</h2>
<p>
    Given the popularity and/or supply constraints of some of our 
    products, Shoepersonic may have to limit the number of products 
    available for purchase. Shoepersonic reserves the right to 
    change quantities available for purchase at any time, even 
    after you place an order, provided Shoepersonic has not yet 
    accepted your order.  
</p>
<h2>Payment Options</h2>
<p>
    The Shoepersonic store offers the following payment methods: Credit cards or debit cards.
</p>
<p>
    If you are paying by credit or debit card, when you submit 
    your order, we will block up to the total amount of the order 
    on your card. If we do not receive authorisation from your 
    credit or debit card issuer, your order will not be accepted. 
    Your credit or debit card will be charged once we accept your 
    order.
</p>
<p>
    We reserve the right to verify the identity of the credit or 
    debit card holder by requesting appropriate documentation.  
</p>
<p>
    To ensure that your credit or debit card is not being used 
    without your consent, we will validate name, address and other 
    personal information supplied by you during the order process 
    against appropriate third party databases. By accepting these 
    terms and conditions, you consent to such checks being made. 
    In performing these checks, personal information provided by 
    you may be disclosed to registered Credit Reference Agency, 
    which may keep a record of that information. You can rest 
    assured that this is done only to confirm your identity, only 
    in connection with purchases made by credit or debit card, that 
    a credit check is not performed and that your credit rating 
    will be unaffected. All information provided by you will be 
    treated securely and strictly in accordance with the 
    Data Protection Act 1998.
</p>
{% endblock %}