/* Variables */
$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$primary-button-red: linear-gradient(rgb(246, 6, 6), rgb(255, 131, 131));

/* General */

.body, html {
    height: 100%;
}

/* Navbar */
// Top banner styling
.nav-banner{
    &__link{
        display: none;
        text-decoration: none;
    }
    &__brand{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.2;
    }
    &__basket{
        color: white;
        font-size: 1.3rem;
    }
}
@media (min-width: 576px) {
    .nav-banner{
        display: flex-nowrap;
        &__link{
            display: inline;
            font-family: $text-font;
            font-size: 1.1rem;
            line-height: 2.0rem;
            color: white;
        }
        &__brand{
            font-family: $title-font;
            font-style: italic;
            font-weight: bold;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
        &__basket{
            color: white;
            font-size: 1.5rem;
        }
    }
}

// Bottom banner and dropdown styling
@media (min-width: 992px) {
    .nav-dropdown{
        display: flex-nowrap;
        justify-content: center;
        &__link{
            font-family: $text-font;
            font-size: 1.1rem;
            line-height: 2.0rem;
            width: 100%;
            margin-left: 5.0rem;
            margin-right: 5.0rem;

        }

        &__account{
            display: none;
        }
    }
}
/* Home page */

.front-page-hero-image{
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (min-width: 576px) {
    .front-page-hero-image{
        height: 65rem;
    }
}


.front-page-hero-text{

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    
    &__title{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
    }
    &__strapline{
        font-family: $text-font;
        font-size: 1.1rem;
    }
    &__button{
        font-size: 1.5rem;
    }
}
@media (min-width: 576px) { 
    .front-page-hero-text{
        &__title{
            font-size: 4.5rem;
            font-weight: bold;
            line-height: 2.2;
        }
        &__strapline{
            font-family: $text-font;
            font-size: 2.1rem;
        }
        &__button{
            margin-top: 10%;
            font-size: 2.5rem;
        }
    }
}

.front-page-info{
    margin: 10%;
    margin-bottom: 30%;

    &__title{
        font-family: $title-font;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }
    &__item{
        display: flex;
        justify-content: center;
        font-family: $text-font;
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 2.0rem;
        i{
            margin-right: 5%;
            margin-bottom: 5%;
            font-size: 2.5rem;
        }
    }
    .alot{
        width: 100%;
        padding-top: 1.0rem;
    }
}

@media (min-width: 576px) { 
    .front-page-info{
        margin: 10%;
        margin-bottom: 30%;
    
        &__title{
            font-family: $title-font;
            font-weight: 700;
            font-size: 2.5rem;
            text-align: center;
        }
        &__item{
            display: flex;
            justify-content: center;
            font-family: $text-font;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            padding-top: 2.0rem;
            i{
                margin-right: 5%;
                margin-bottom: 5%;
                font-size: 2.5rem;
            }
            .alot{
                padding-top: 0.2rem;
            }
        }
    }
}




/* All Shoes Page */

.shoe-card{
    padding: 1%;
    margin: 2%;
}


/* Shoe Detail Page */

.shoe-detail{
    display: block;
    width: 100%;
    
    &__title{
        margin: auto;
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
    }
    
    &__slider{
        margin-top: 4%;
    }
    @media (min-width: 576px) {
        &__slider{
            display: bblock;
            width: 100%;
            
        }
    }

    &__image{
        width: 100%;
        @media (min-width: 576px) {
            display: inline-block;
            width: 100%;
        }
    }
} 

.add-to-basket{
    display: block;
    width: 100%;
    margin: 5%;
    
    @media (min-width: 576px) {
        display: inline-block;
        margin: 0;
        padding-left: 10%;
    }
}

.price-and-quantity-container{
        
    &__price {
        display: inline-block;
        width: 50%;
        padding-left: 4%;
        h3{
            font-family: $text-font;
            font-size: 2.5rem;
            font-weight: 900;
        }
    }
    
    &__quantity-chooser{
        display: inline-block;
        width: 40%;
        min-width: 7.0rem;
        
        button{
            height: 2.5rem;
            width: 2.5rem;
            color: black;
            border-color: black;
            border-radius: 0.2rem;
            font-size: 1.5rem;
            font-family: $text-font;
            font-weight: 700;
        }
        
        .quantity{
            font-family: $text-font;
            font-size: 2.0rem;
            font-weight: 900;
            margin: 5%;
        }

        @media (min-width: 576px) {
            
        }
    }
}

.size-container{
    width: 90%;
    margin-top: 5%;
    display: block;

    &__selector-form{
        display: block;
        margin-bottom: 5%;
        width: 100%;
    }
    label{
        font-family: $text-font;
        font-size: 2.0rem;
        font-weight: 900;
        text-align: center;
    }
    select{
        font-family: $text-font;
        font-size: 2.0rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}


.add-to-basket-button{
    display: block;
    margin-top: 10%;
    width: 100%;
    font-family: $text-font;
    font-size: 2.0rem;
    font-weight: 900;
    text-align: center;
}

.shoe-details{
    margin-top: 10%;
    margin-bottom: 10%;

    button{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}


/* Profile page */

.profile{
    &__picture{
        height: auto;
        width: 10%;
    }
}

/* Basket */

.basket{
    margin: 2%;
    h2{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 1.2;  
    }
    &__row{
        display: block;
        margin-top: 5%;
    }
    &__image{
        display: inline-block;
        vertical-align: top;
        width: 8.0rem;
    }
    &__adjust{
        display: inline-block;
        width: 60%;

        h5{
            font-family: $text-font;
            font-size: 1.5rem;
            font-weight: 700;
        }

        &__quantity{
            display: inline-block;
            width: 40%;
            margin-top: 3%;
            button{
                height: 1.5rem;
                width: 1.5rem;
                padding-bottom: 0.1rem;
                color: black;
                font-family: $text-font;
                vertical-align: top;
                i{
                    color: white;
                }
            }
            .new_quantity{
                font-weight: 600;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }
        &__size{
            display: inline-block;
            width: 45%;
            font-weight: 500;
            font-size: 1.2rem;
        }
        &__update-button{
            margin-top: 5%;
            font-family: $text-font;
            font-size: 1.2rem;
        }
    }
    &__checkout-button{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.basket-total{
    margin-top: 10%;
}

// Checkout contact details
.checkout-basket{
    margin: 5%;
    font-family: $text-font;   

    &__total{
        font-size: 1.3rem;
        font-weight: 900;
    }


}

.contact-details{
    margin: 5%;
}

.order-details-form{
    margin: 5%;
    label{
        font-family: $text-font;
        font-weight: 1.5rem;
    }
    input{
        font-family: $text-font;
        background-color: white;
        height: 40px;
        width: 100%;
        padding: 1.0rem 1.2rem;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #636569;
        margin-bottom: 3%;
    }
    .next-button{
        font-family: $text-font;
        margin-top: 5%;
        margin-bottom: 20%;
        background-image: $primary-button-red;
    }
}
/* Stripe */
.card-details{
    &__label{
        font-family: $text-font;
        font-weight: 900;
        font-size: 1.5rem;

    }
}

.StripeElement {
    display: block;
    background-color: white;
    height: 40px;
    width: 100%;
    margin-bottom: 5%;
    padding: 1.0rem 1.2rem;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #636569;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#submit_payment_btn{
    display: block;
    font-family: $text-font;
    margin-top: 5%;
    margin-bottom: 20%;
    background-image: $primary-button-red;
}


// Footer

.footer{
    background-color: dimgray;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    a{
        color: inherit;
    }
    &__email{
        display: block;
        width: 100%;
        margin: 5%;
    }
}