/* General */
.body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
// Footer

.footer{
    background-color: dimgray;
    color: white;

    a{
        color: inherit;
    }
    &__links{
        padding-top: 1%;
        margin-top: 7%;
        margin-bottom: 1%;
    }
    &__social-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 2%;
        .fab{
            font-size: 50px;
        }
    }
}
  
  /* Stripe */
    .StripeElement {
        background-color: white;
        height: 40px;
        width: 30%;
        padding: 1.0rem 1.2rem;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }
    
    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }
    
    .StripeElement--invalid {
        border-color: #fa755a;
    }
    
    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }


// Home page
.front-page-image{
    height: 60rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.front-page-text{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: white;

        &__title{
            font-size: 2.5rem;
            font-weight: 200;
            line-height: 1.2;
    }
}
@media (min-width: 576px) { 
    .front-page-text{
        &__title{
            font-size: 3.5rem;
            font-weight: 300;
            line-height: 1.2;
        }
    }
}

  /* All shoes page */

  .shoe-card{
      padding: 1%;
      margin: 2%;
  }
 

  /* Shoe Detail Page */

  .shoe-detail{
      display: block;
      width: 100%;

      &__title{
          margin: auto;
      }

      &__image{
          width: 100%;
          @media (min-width: 576px) {
              display: inline-block;
              width: 60%;
          }

      }
  }

  .add-to-cart{
      display: block;
      width: 100%;
      margin: 5%;

      @media (min-width: 576px) {
        display: inline-block;
        width: 30%;
        margin: 0;
        padding-left: 10%;
   }
  }

  .price-and-quantity-container{

      @media (min-width: 576px) {
         width: 100%;
    }



    .price {
        display: inline-block;
        width: 40%;
        padding-left: 4%;
        }

    .quantity-chooser{
        display: inline-block;
        width: 40%;
        min-width: 7.0rem;

        button{
        height: 2.0rem;
        width: 2.0rem;
        color: black;
        border-color: black;
        border-radius: 0.2rem;
        }

        .quantity{
            font-size: larger;
            margin: 5%;
        }
    }
    }

  .size-chooser-container{
      margin: 5%;
  }

  .size-chooser{
      margin-bottom: 5%;
  }

  .add-to-cart-button{
      margin-top: 5%;
      width: 100%
  }



//   Profile page

  .profile{
      &__picture{
          height: auto;
          width: 10%;
      }
  }

//   Cart

.cart{
    &__row{
        padding: 2% 5%;
    }
    &__image{
        width: 10rem;
      // background-image: url("{{ MEDIA_URL }}{{ shoe.primary_image }}")
    }
    &__adjust{
        width: 80%;
        margin-left: 2%;
    }
}

// Checkout contact details
.checkout-cart{
    margin: 5%;
}

.contact-details{
    margin: 5%;
}

// nest this in class to stop checkbox appearing in as form
.contact-details-form{
    input{
        background-color: white;
        height: 40px;
        width: 100%;
        padding: 1.0rem 1.2rem;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #636569;
        margin-bottom: 3%;
    }
}

.next-button{
    margin-top: 5%;
    margin-bottom: 20%;
    background-image: linear-gradient(rgb(241, 175, 175), red) ;
}