{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h1>Welcome back to the fold!</h1>
    <div class="password-reset-complete__login">
        <h2><a class="badge badge-light" href="{% url 'login' %}">Take me home country road</a></h2>
    </div>
    <div class="password-reset-complete__gif">
        <a class="badge badge-light" href="{% url 'login' %}">
            <img src="https://media.giphy.com/media/wqko27lWJ6miI/giphy.gif">
        </a>
    </div>
</div>
{% endblock %}