{% extends 'base.html' %}
{% block content %}
<h1>We want to know what you think...</h1>
<div class="container-fluid">
    <h2>Your review for {{ shoe.brand }} {{ shoe.name }}</h2>
    <!-- <img src="../../../media/{{ shoe.primary_image }}" alt="{{ shoe.name }}"> -->
</div>
<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Overall rating out of 5</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Fit rating out of 5</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Support rating out of 5</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Tell us about a race experience</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Your review</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}