{% extends 'base.html' %}
{% block content %}
<div class="container-fluid review-container">

    <h1>This Season's Best Cross Country Spikes</h1>
    <p>
        One sunny autumn day we trekked over to the home of cross country to 
        put this season's top ccross country spikes through their paces.  
    </p>
    <p>
        Here is how we got on...(with montage)
    </p>
    <div>
        <iframe class="review-container__video" width="560" height="315" src="https://www.youtube.com/embed/9Y--s_yblgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h2>On the train? Here is a write up...(without montage)</h2>
        <p>
            The 5 shoes we test were the:
        </p>
        <ul>
            <li>
                Saucony Carrera 3
            </li>
            <li>
                Brooks Mach 18
            </li>
            <li>
                Saucony Havoc
            </li>
            <li>
                Adidas XCS
            </li>
            <li>
                Nike Rival XC
            </li>
        </ul>
        <h3>What do they all have in common?</h3>
        <p>
            All these shoes lightweight, cross country racing shoes. All have spikes screwed into the sole meaning you'll get all the 
            grip you want when running with these. For cross country racing there is no better option than spikes. They give all the
            grip of pluggers, but are lighter and don't get clogged with mud as the race goes on. I bought all these shoes in my size (size 10) 
            and didn't have a problem with fit on any of them.
        </p>
        <p>
            I would feel confident showing up on 
            race day in any of these shoes. All are good, well-made shoes and all cost about the samea as a meal out. The purpose of this review is to cut through the marketing jargon and look a bit deeper 
            into the features that might make them better for you as a runner.
        </p>
        <div class="saucony-carrera-container">
            <h3 class="saucony-carrera">1. Saucony Carrera 3 - A racing throughbred</h3>
            <h4>Summary</h4>
            <p class="saucony-carrera__summary">
                Brutally, scarily fast save these guys for you PBs, when it has been raining for 40 days and 40 nights and Mo Farah has just turned up on the start line next to you.
                Just strap yourself in and enjoy the ride.
            </p>
            <h4>Fit</h4>
            <p class="saucony-carrera__fit">
                When you first put on these shoes, it feels like you are wearing nothing at all. They are the lightest on test by a long way and the most flexible.
                The best thing about cross country is that you can afford to ease up on the cushioning
                as the grass and mud does the cushioning for you. This means you need more power and retraction of your leg when you hit the ground. The thicker the sole, the longer it takes that message to get through and
                the more time your foot spends on the ground losing energy. The sole is very flexible and you have to pick your way with these shoes to 
                make up for the lack of protection. If you've got a some Vibram 5-fingers at home or any minimalist footwear you'll like these a lot.
            </p>
            <h4>Build</h4>
            <p class="saucony-carrera__build">
                My favourite feature of these shoes is the build quality. They're unlike any other shoe I've seen.
                Saucony have what they call the isofit system which breaks up the outer layer of fabric into fingers, each attached 
                to a lace. This coupled with the flexibility of the shoe means when you lace up, the shoe hugs to your foot shape 
                and feels glove-like.
            </p>
            <p>
                On the inside the tongue of the shoe is elasticated mesh and is attached directly to the sole giving you even more security.
                Out of all the shoes I've owned I feel these are the least likely to be lost to a mud suction. The whole shoe is beautifully engineered, the sole is sown into the upper
                and it feels like a very well put together shoe. With all the other shoes on test, you can feel a lot of reenforcement in the heel cup.
                For the Carrera 3s that is not the case. The reenforcement is around the foot to fix the sole onto your feet.
            </p>
            <p>
                The sole is similar on both Saucony shoes and has back facing lugs on the forefoot and forward facing lugs on the rear foot. 
                I really like this feature, it gives you that extra grip when you are flying down hill and have to put the brakes on, forcing you onto your heels.
                Nicely thinking Saucony.
            </p>
            <h4>Racing</h4>
            <p class="saucony-carrera__racing">
                I tried these out on the Kent Fitness League Sevenoaks race. It wasn't the wettest race but there were a few muddy patches and some 
                great down hills to try out the grip. Setting off the weight (or lack of) feels fantastic compared to my normal commuter running shoes. 
                Your feet whip up nice and quick and my cadence increased quite a bit. You feel like you have to pick your way a lot more carefully. You can't 
                just plant your fit anywhere, you want to be careful where you place your feet because if you tread in the wrong place, you'll know about it!
            </p>
            <p>
                Uphill and on the straight they performed without an issue. Downhill felt a little more scary that it usually does. 
                I was accutely aware of missing any uneven ground and was scared of going over on my ankle. Personally I wouldn't want to run in these for longer
                than 5 or 6 miles for fear of getting too tired in them.
            </p>
            <h4>Overall</h4>
            <p>
                I loved running in these shoes and will definitely be wearing them again. They suit a faster lighter runner and wetter, muddier conditions. 
            </p>
        </div>
        <div class="brooks-mach-18-container">
            <h3 class="brooks-mach-18">2. Brooks Mach 18 - Fast and Agile</h3>
            <p class="brooks-mach-18__summary">
                Look like fire and run like them too.
            </p>
            <p class="brooks-mach-18__fit">
                They have a nicer amount of cushioning inside, and the classic narrow spike fit. Not quite as glove-like as the Carrera 3s either 
                with a more traditional tongue and upper construction. 
            </p>
            <p class="brooks-mach-18__build">
                These shoes look fanastic. If Shoepersonic were to design a pair of shoes they would probably look like this. They feel nicely premium as 
                well. The upper is 3D moulded from a single piece of fabric apparently, as oppsed to the Carrera 3s which a more engineered 
                from different cuts of fabric.
            </p>
            <p class="brooks-mach-18__build">
                These shoes look fanastic. If Shoepersonic were to design a pair of shoes they would probably look like this. They feel nicely premium as 
                well. The upper is 3D moulded from a single piece of fabric apparently, as oppsed to the Carrera 3s which a more engineered 
                from different cuts of fabric.
            </p>
            <p>
                The sole is completely different to the pattern of the Saucony's. Brooks have included 'an agressive lug pattern' to 'increase 
                traction on any surface'. This is true, the sole pattern is very, very spikey even without the spikes although it is all focussed on the 
                forefoot of the shoe. The heel has very little in the way of extra grip unlike the Sauconys that have grip on both ends. Because of this 
                we felt these would perform much better on flatter raced and the extra lugs on the front work superbly when you are going round corners at speed.
            </p>
            <p class="brooks-mach-18__racing">
                Haven't had a race in them yet but will let you know when I do.
            </p>
        </div>
        <div class="saucony-havoc-container">
            <h3 class="saucony-havoc">2. Brooks Mach 18 - Fast and Agile</h3>
            <p class="saucony-havoc__summary">
                
            </p>
            <p class="saucony-havoc__fit">
                
            </p>
            <p class="saucony-havoc__build">
                
            </p>
            <p class="saucony-havoc__build">
                
            </p>
            <p>
            </p>
            <p class="saucony-havoc__racing">
            </p>
        </div>
    </div>
</div>
    {% endblock %}