{% extends 'base.html' %}
{% block content %}
<h1>This Season's Best Cross Country Spikes</h1>
<p>
   One sunny autumn day we trekked over to the home of cross country to 
   put this season's top ccross country spikes through their paces.  
</p>
<p>
    Here is how we got on...(with montage)
</p>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9Y--s_yblgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
    <h2>On the train? Here is a write up...(without montage)</h2>
    <p>
        The 5 shoes we test were the:
    </p>
    <ul>
        <li>
            Saucony Carrera 3
        </li>
        <li>
            Brooks Mach 18
        </li>
        <li>
            Saucony Havoc
        </li>
        <li>
            Adidas XCS
        </li>
        <li>
            Nike Rival XC
        </li>
    </ul>
    <h3>What do they all have in common?</h3>
    <p>
        All these shoes lightweight, cross country racing shoes. All have spikes screwed into the sole meaning you'll get all the 
        grip you want when running with these. For cross country racing there is no better option than spikes. They give all the
         grip of pluggers, but are lighter and don't get clogged with mud as the race goes on. 
    </p>
    <p>
        I would feel confident showing up on 
        race day in any of these shoes. All are good, well-made shoes and all cost about the samea as a meal out. The purpose of this review is to cut through the marketing jargon and look a bit deeper 
        into the features that might make them better for you as a runner.
    </p>
    <div class="saucony-carrera-container">
        <h3 class="saucony-carrera">1. Saucony Carrera 3 - A racing throughbred</h3>
        <p class="saucony-carrera__summary">
            Brutally, scarily fast save these guys for you PBs, when it has been raining for 40 days and 40 nights and Mo Farah has just turned up on the start line next to you.
             Just strap yourself in and enjoy the ride.
        </p>
        <p class="saucony-carrera__weight">
            These are the lightest and most flexibile shoes on test by a long way. They are Quaver-light and Mr. Fantastic flexible. Talk about wet weight and how much water they hold.
        </p>
        <p class="saucony-carrera__fit">
            When you first put on these shoes, itn feels like you are wearing nothing at all. The best thing about cross country is that you can afford to ease up on the cushioning
             as the grass and mud does the cushioning for you. This means you need more power and retraction of your leg when you hit the ground. The thicker the sole, the longer it takes that message to get through and
             the more time your foot spends on the ground losing energy. 
        </p>
        <p class="saucony-carrera__build">
    
        </p>
        <p class="saucony-carrera__racing">
    
        </p>
    </div>
    <div class="brooks-mach-18-container">
        <h3 class="brooks-mach-18">2. Brooks Mach 18 - Fast and Agile</h3>
        <p class="brooks-mach-18__summary">
     
        </p>
        <p class="brooks-mach-18__weight">
    
        </p>
        <p class="brooks-mach-18__fit">
    
        </p>
        <p class="brooks-mach-18__build">
    
        </p>
        <p class="brooks-mach-18__racing">
    
        </p>
    </div>
</div>
{% endblock %}