{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div class="container-fluid shoe-detail">

    <h1 class="shoe-detail__title">{{ shoe.brand }} {{ shoe.name }}</h1>
    <div class="slider shoe-detail__slider">
        <div><img class="shoe-detail__image" src="../../../media/{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}"></div>
        <div><img class="shoe-detail__image" src="../../../media/{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}"></div>
        <div><img class="shoe-detail__image" src="../../../media/{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}"></div>
    </div>
    <div class="add-to-basket">
        <div class="price-and-quantity-container">
            <div class="price-and-quantity-container__price">
                <h3>£{{ shoe.price }}</h3>
            </div>
            <div class="price-and-quantity-container__quantity-chooser">
                <button class="minus" disabled>
                    <i class="fas fa-minus"></i>
                </button>
                <span class="quantity" name="quantity">1</span>
                <button class="plus">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="input-group size-container">
            <form id="basketform" class="size-container__selector-form" action="{% url 'add_to_basket' shoe.id %}" method="post">
                {% csrf_token %}
                <div class="input-group-prepend size-chooser">
                    <label class="input-group-text" for="size-chooser">Size</label>
                    <select form="basketform" required name="size" class="custom-select" id="size-chooser">
                        {% for shoe_stock in stock_level %}
                        <option value="{{ shoe_stock.size }}" {% if shoe == current_shoe %}selected{% endif %} {% if shoe_stock.stock == 0 %} disabled {% endif %}>{{ shoe_stock.size }} - {{ shoe_stock.stock }} left</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary btn-lg btn-danger btn-block add-to-basket-button" form="basketform" type="submit" value="1" name="quantity">Add to Basket</button>
            </form>
        </div>
    </div>
    <div class="accordion shoe-details" id="accordionExample">
        <div class="card shoe-details__stats">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Stats
                    </button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Weight: {{ shoe.weight }} g ({{ shoe.weight_ranking }}/5 in test)</li>
                        <li>Wet-weight: {{ shoe.wet_weight }} g ({{ shoe.wet_weight_ranking }}/5 in test)</li>
                        <li>Fit status: {{ shoe.fit_ranking }}</li> 
                        <li>Supportive-ranking: {{ shoe.support_ranking }}/5 in test</li>
                        <li>Includes {{ shoe.spikes_included }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What we think
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {{ shoe.description }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What you think
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                No reviews yet
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}