/* Variables */
$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$primary-button-red: linear-gradient(rgb(246, 6, 6), rgb(255, 131, 131));

/* General */

.body, html {
    height: 100%;
}

h1{
    font-family: $title-font;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 900;
}
h2{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
}
h3{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
}
h4{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.0rem;
    font-weight: 900;
}
h5{
    font-family: $title-font;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

p,li,a, td{
    font-family: $text-font;
}

textarea{
    font-family: $text-font;
    width: 100%;
    height: 5rem;
    border-color: black;
    border-radius: 0.2rem;
}

input{
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #636569;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-bottom: 2%;
}
label{
    display: None;
}
.checkbox{
    display: block;
}
.profile{
    input{
        width: 100%;
        max-width: 500px;
        padding: 0.5%;
    }
    label{
        display: inline;
    }
    .checkboxinput{
        width: 1.0rem;
        box-shadow: None;
    }
    button{
        max-width: 500px;
    }
}


.help-block{
    display: none;
}

/* Navbar */
nav{
    width: 100%;
}
.nav-dropdown{
    &__brand{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__link{
        font-family: $text-font;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            font-style: italic;
            text-decoration: none;
            font-size: 1.8rem;
            transition: 0.5s;
            color: white;
        }
    }
    &__basket{
        font-style: italic;
        color: white;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            font-size: 1.6rem;
            text-decoration: none;
            transition: 0.5s;
            color: white;
        }
    }
}


@media (min-width: 991px) {
    .nav-dropdown{
        width: 70%;
        display: flex; 
        justify-content: flex-end;
        &__list{
        display: flex;         
        align-items: center;

        }   
        a{
            color: white;
        }
        &__brand{
            font-family: $title-font;
            font-style: italic;
            font-weight: bold;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
        &__link{
            display: inline;
            font-family: $text-font;
            font-size: 1.5rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            &:hover{
                font-style: italic;
                text-decoration: none;
                transition: 0.3s;
            }
        }
        &__basket{
            font-size: 1.5rem;            
            padding-right: 1.0rem;
            padding-left: 1.0rem;

        }
    }
}

@keyframes jet-animation {
0% { right:500px; }
    25% {
        transform: rotateX(90deg);
    }
    75% { 
        transform: scale(2.5, 2.0);
    }
    100% { right:0px; }
}

.jet-logo{
    position: relative;
    animation-name: jet-animation;
    animation-duration: 2.0s;
    color: white;
}

/* Home page */

.front-page-hero-image{
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (min-width: 576px) {
    .front-page-hero-image{
        height: 65rem;
    }
}


.front-page-hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;   
    &__title{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.7rem;
        font-weight: 700;
        line-height: 1.2;
    }
    &__strapline{
        font-family: $text-font;
        font-size: 1.0rem;
    }
    &__button{
        font-size: 1.5rem;
    }
}
@media (min-width: 576px) { 
    .front-page-hero-text{
        &__title{
            font-size: 5.5rem;
            font-weight: bold;
            line-height: 2.0;
        }
        &__strapline{
            font-family: $text-font;
            font-size: 2.0rem;
        }
        &__button{
            margin-top: 10%;
            font-size: 2.5rem;
        }
    }
}

.front-page-info-title{
    display: block;
    h2{
        font-family: $title-font;
        padding-top: 5%;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }
}

.front-page-info{
    margin-top: 3%;
    margin-bottom: 10%;

    &__item{
        font-family: $text-font;
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 2.0rem;
        i{
            margin-right: 5%;
            margin-bottom: 1%;
            font-size: 2.5rem;
            text-align: center;
            transition: 0.5s;
            &:hover{
                font-size: 3.5rem;
                transition: 0.5s;
            }
        }
    }
}

@media (min-width: 576px) { 
    .front-page-info-title{
        h2{
            font-family: $title-font;
            font-weight: 900;
            font-size: 3.5rem;
            text-align: center;
            width: 100%;
        }
    }
    .front-page-info{
        &__item{
            font-family: $text-font;
            font-weight: 600;
            font-size: 2.1rem;
            text-align: center;
            padding-top: 2.0rem;
            padding-left: 10%;
            padding-right: 10%;
            i{
                margin-right: 5%;
                margin-bottom: 5%;
                font-size: 4.5rem;
                text-align: center;
                transition: 0.5s;
                &:hover{
                    font-size: 5.5rem;
                    transition: 0.5s;
                }
            }
        }
    }

}

/* About us */
.about-us{
    max-width: 1000px;
    &__section{
        display: block;
        &__sub-section{
            display: block;
        }
    }
}



/* Accounts */
.login-form{
    max-width: 500px;
    input{
        padding: 1%;
        width: 100%;
    }
}

.reset-password{
    max-width: 600px;
    label{
        display: block;
    }
    input{
        padding: 1%;
        width: 100%;
    }
}

.password-reset-sent{
    &__heading{
        margin-top: 3%;
        h2{
            text-align: center;
        }
    }
    &__gif{
        margin: 5%;
        img{
            height: 50%;
            width: 100%;
        }
    }
}

.password-reset-confirm-form{
    max-width: 500px;
    label{
        display: block;
    }
    input{
        width: 100%;
        padding: 1%;
    }
    li{
        font-size: 0.75rem;
    }
}

.password-reset-complete{
    margin: 5%;
    &__gif{
        margin-top: 3%;
        margin-bottom: 3%;
        img{
            width: 100%;
        }
    }
}
/* All Shoes Page */


/* Shoe Detail Page */

.shoe-detail{
    display: block;
    width: 100%;
    
    &__title{
        margin: auto;
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
    }
    
    &__slider{
        max-width: 1000px;
    }
    @media (min-width: 1000px) {
        &__slider{
            display: inline-block;      
        }
    }

    &__image{
        width: 100%;
        @media (min-width: 576px) {
            display: inline-block;
            width: 100%;
        }
    }

    &__stats{
        max-width: 500px;
        @media (min-width: 576px) {
            display: inline-block;
            vertical-align: top;
            align: left;

        }
    }
    &__review{
        max-width: 1000px;
    }
} 

.add-to-basket{
    display: block;
    width: 100%;
    max-width: 400px;
    
    @media (min-width: 576px) {
        display: inline-block;
        vertical-align: top;
    }
}

.price-and-quantity-container{
    // display: flex-nowrap; 
    // justify-content: space-between;   
    &__price {
        display: inline-block;
        width: 40%;
        // padding-left: 4%;
        h3{
            font-family: $text-font;
            font-size: 2.5rem;
            font-weight: 900;
        }
    }
    
    &__quantity-chooser{
        display: inline-block;
        width: 50%;
        min-width: 8.0rem;
        
        button{
            height: 2.5rem;
            width: 2.5rem;
            color: black;
            border-color: black;
            border-radius: 0.2rem;
            font-size: 1.5rem;
            font-family: $text-font;
            font-weight: 700;
        }
        
        .quantity{
            font-family: $text-font;
            font-size: 1.5rem;
            font-weight: 900;
            margin: 5%;
        }

    }
}

.size-container{
    width: 90%;
    margin-top: 5%;
    display: block;

    &__selector-form{
        display: block;
        margin-bottom: 5%;
        width: 100%;
    }
    label{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
    }
    select{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}


.add-to-basket-button{
    display: block;
    margin-top: 10%;
    width: 100%;
    font-family: $text-font;
    font-size: 2.0rem;
    font-weight: 900;
    text-align: center;
}

.shoe-details{
    margin-top: 10%;
    margin-bottom: 10%;

    button{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

/* Our review */
.review-container{
    &__video{
        width: auto;
        height: auto;
    }
    img{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    button{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 576px) {
.review-container{
    max-width: 1000px;
    &__video{
        width: 560px;
        height: 315px;
    }
}
}

.customer-review{
    &__list-item{
        padding: 3%;
        margin-top: 4%;
    }
    button{
        margin-top: 1%;
    }
    a{
        margin-top: 1%;
    }
}
/* Add review */



/* Profile page */

.profile{
    &__picture{
        height: auto;
        width: 10%;
    }
    &__previous-orders{
        max-width: 600px;
    }
}

/* Basket */

.basket{
    h2{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 1.2;  
    }
    &__row{
        display: flex-nowrap;
        max-width: 1000px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #636569;
        &__image{
            display: inline-block;
            vertical-align: top;
            width: 8.0rem;
        }
        &__details{
            display: inline-block;
            width: 50%;
        }
        &__adjust{    
            display: inline-block;
            width: 100%;
            max-width: 500px;
            &__quantity{
                display: inline-block;
                width: 40%;
                vertical-align: bottom;
                button{
                    height: 2.5rem;
                    width: 2.5rem;
                    padding-bottom: 0.1rem;
                    color: black;
                    font-family: $text-font;
                    vertical-align: bottom;
                    i{
                        color: white;
                    }
                }
                .new_quantity{
                    font-weight: 600;
                    font-size: 1.5rem;
                    vertical-align: bottom;
                }
            }
            &__adjust-button{
                display: inline-block;
                width: 50%;
                font-weight: 600;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }
    
    }
    &__checkout-button{
        max-width: 1000px;
    }
}

// Checkout contact details
.checkout-basket{
    margin: 5%;
    font-family: $text-font;
    max-width: 700px;
    ul{
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 #636569;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    &__total{
        font-size: 1.3rem;
        font-weight: 900;
    }
}

.checkout-nav{
    margin-top: 2%;
    .active{
        font-family: $text-font;
        font-style: italic;
        font-weight: 900;
        background-color: white;
        color: black;
    }
}

@media (min-width: 576px) {
    .checkout-nav{
        a{
            font-size: 1.3rem;
        }
    }
}
.nav-link{
    padding: 0;
}

.order-details-form{
    margin: 5%;
    label{
        font-family: $text-font;
        font-weight: 1.5rem;
    }
    input{
        font-family: $text-font;
        background-color: white;
        height: 40px;
        width: 100%;
        padding: 1.0rem 1.2rem;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #636569;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease; 
    }
    .next-button{
        font-family: $text-font;
        background-image: $primary-button-red;
        max-width: 700px;
    }
}
/* Stripe */
.card-details{
    &__label{
        font-family: $text-font;
        font-weight: 900;
        font-size: 1.5rem;

    }
}

.StripeElement {
    display: block;
    background-color: white;
    height: 50px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 5%;
    padding: 1.0rem 1.2rem;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #636569;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#submit_payment_btn{
    display: block;
    font-family: $text-font;
    margin-top: 5%;
    margin-bottom: 20%;
    background-image: $primary-button-red;
}

/* Order submitted */

#confetti{
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
}

.confetti-text{
    margin-bottom: 5%;
    text-align: center;
    &__button{
        margin-top: 3%;
    }
}

// Articles
.articles{
    .card{
        max-width: 800px;
        div{
            font-style: $text-font;
        }
    }
    img{
        max-width: 600px;
    }
    a{
        text-decoration: none; 
        color: black;
    }
}

.author{
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #636569;
}

// Footer

.footer{
    background-color: #343a40;
    a:hover{
        color: lightblue;
    }
    &__links{
        display: block;
        text-align: center;
        padding-top: 4%;

    }
    &__contact{
        display: block;
        text-align: center;
        margin-top: 4%;
        padding-bottom: 2%;
        color: white;
        img{
            width: 3.0rem;
        }
        &__social-media{
            display: flex-nowrap;
            justify-content: space-around;
            i{
                font-size: 4.0rem;
            }
        }
        &__strava{
            i{
                font-size: 3.0rem;
            }
        }
    }
    &__kent{
        display: block;
        text-align: center;
        margin-top: 2%;
        padding-bottom: 2%;
        color: white;
        img{
        width: 3.0rem;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
}

.facebook:hover{
    color: #4267b2;
}

.youtube:hover{
    color: #ff0000;
}

.strava:hover{
    color: #fc4c02
}

@media (min-width: 576px) {
    .footer{
        &__links{
            display: flex;
            justify-content: space-around;
            margin-top: 10%;
            padding-top: 4%;
            font-size: 1.5rem;
    
        }
        &__contact{
            display: block;
            text-align: center;
            margin-top: 3%;
            padding-bottom: 2%;
            font-size: 1.5rem;
            color: white;
        }
        &__kent{
            display: block;
            text-align: center;
            margin-top: 3%;
            padding-bottom: 2%;
            color: white;
            font-weight: 700;
        }
    }
    }