/* Variables */
$title-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
$primary-button-red: linear-gradient(rgb(246, 6, 6), rgb(255, 131, 131));

/* General */

.body, html {
    height: 100%;
}


h1{
    font-family: $title-font;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 900;
}
h2{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
}
h3{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
}
h4{
    font-family: $title-font;
    font-style: italic;
    font-size: 1.0rem;
    font-weight: 900;
}
h5{
    font-family: $title-font;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

p,li,a{
    font-family: $text-font;
}

/* Navbar */
.nav-dropdown{

    &__brand{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__link{
        font-family: $text-font;
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        &:hover{
            font-size: 1.6rem;
            text-decoration: none;
            transition: 0.3s;
            color: white;
        }
    }
    &__basket{
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        &:hover{
            font-size: 1.6rem;
            text-decoration: none;
            transition: 0.3s;
            color: white;
        }
    }
}


@media (min-width: 991px) {
    .nav-dropdown{
        width: 70%;
        display: flex; 
        justify-content: flex-end;
        &__list{
        display: flex;         
        align-items: center;

        }   
        a{
            color: white;
        }
        &__brand{
            font-family: $title-font;
            font-style: italic;
            font-weight: bold;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
        &__link{
            display: inline;
            font-family: $text-font;
            font-size: 1.5rem;
            padding-right: 1.0rem;
            padding-left: 1.0rem;
            &:hover{
                font-size: 1.6rem;
                text-decoration: none;
                transition: 0.3s;
            }
        }
        &__basket{
            font-size: 1.5rem;            
            padding-right: 1.0rem;
            padding-left: 1.0rem;

        }
    }
}

@keyframes jet-animation {
0% { right:500px; }
    25% {
        transform: rotateX(90deg);
    }
    75% { 
        transform: scale(2.5, 2.0);
    }
    100% { right:0px; }
}

.jet-logo{
    position: relative;
    animation-name: jet-animation;
    animation-duration: 2.0s;
    color: white;
}

/* Home page */

.front-page-hero-image{
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (min-width: 576px) {
    .front-page-hero-image{
        height: 65rem;
    }
}


.front-page-hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;   
    &__title{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 1.2;
    }
    &__strapline{
        font-family: $text-font;
        font-size: 1.1rem;
    }
    &__button{
        font-size: 1.5rem;
    }
}
@media (min-width: 576px) { 
    .front-page-hero-text{
        &__title{
            font-size: 5.0rem;
            font-weight: bold;
            line-height: 2.2;
        }
        &__strapline{
            font-family: $text-font;
            font-size: 2.0rem;
        }
        &__button{
            margin-top: 10%;
            font-size: 2.5rem;
        }
    }
}

.front-page-info-title{
    display: block;
    h2{
        font-family: $title-font;
        padding-top: 5%;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }
}

.front-page-info{
    margin-top: 3%;
    margin-bottom: 10%;

    &__item{
        font-family: $text-font;
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        padding-top: 2.0rem;
        i{
            margin-right: 5%;
            margin-bottom: 1%;
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

@media (min-width: 576px) { 
    .front-page-info-title{
        h2{
            font-family: $title-font;
            font-weight: 900;
            font-size: 3.5rem;
            text-align: center;
            width: 100%;
        }
    }
    .front-page-info{
        margin-top: 5%;
        margin-bottom: 5%;
    
        &__item{
            font-family: $text-font;
            font-weight: 600;
            font-size: 2.1rem;
            text-align: center;
            padding-top: 2.0rem;
            padding-left: 10%;
            padding-right: 10%;
            i{
                margin-right: 5%;
                margin-bottom: 5%;
                font-size: 2.5rem;
                text-align: center;
            }
        }
    }

}

/* Accounts */
.login-form{
    padding-top: 5%;
    &__button{
        margin-top: 3%;
        font-family: $text-font;
        font-weight: 700;
    }
}
.password-reset-sent{
    &__heading{
        margin-top: 3%;
        h2{
            text-align: center;
        }
    }
    &__gif{
        margin: 5%;
        img{
            height: 50%;
            width: 100%;
        }
    }
}

.password-reset-confirm-form{
    margin: 5%;
    button{
        margin-top: 3%;
    }
}

.password-reset-complete{
    margin: 5%;
    &__gif{
        margin-top: 3%;
        margin-bottom: 3%;
        img{
            width: 100%;
        }
    }
}
/* All Shoes Page */

.shoe-card{
    padding: 1%;
    margin: 2%;
}


/* Shoe Detail Page */

.shoe-detail{
    display: block;
    width: 100%;
    
    &__title{
        margin: auto;
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
    }
    
    &__slider{
        margin-top: 4%;
    }
    @media (min-width: 576px) {
        &__slider{
            display: bblock;
            width: 100%;
            
        }
    }

    &__image{
        width: 100%;
        @media (min-width: 576px) {
            display: inline-block;
            width: 100%;
        }
    }
} 

.add-to-basket{
    display: block;
    width: 100%;
    margin: 5%;
    
    @media (min-width: 576px) {
        display: inline-block;
        margin: 0;
        padding-left: 10%;
    }
}

.price-and-quantity-container{
        
    &__price {
        display: inline-block;
        width: 50%;
        padding-left: 4%;
        h3{
            font-family: $text-font;
            font-size: 2.5rem;
            font-weight: 900;
        }
    }
    
    &__quantity-chooser{
        display: inline-block;
        width: 40%;
        min-width: 7.0rem;
        
        button{
            height: 1.5rem;
            width: 1.5rem;
            color: black;
            border-color: black;
            border-radius: 0.2rem;
            font-size: 1.5rem;
            font-family: $text-font;
            font-weight: 700;
        }
        
        .quantity{
            font-family: $text-font;
            font-size: 1.5rem;
            font-weight: 900;
            margin: 5%;
        }

    }
}

.size-container{
    width: 90%;
    margin-top: 5%;
    display: block;

    &__selector-form{
        display: block;
        margin-bottom: 5%;
        width: 100%;
    }
    label{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        text-align: center;
    }
    select{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}


.add-to-basket-button{
    display: block;
    margin-top: 10%;
    width: 100%;
    font-family: $text-font;
    font-size: 2.0rem;
    font-weight: 900;
    text-align: center;
}

.shoe-details{
    margin-top: 10%;
    margin-bottom: 10%;

    button{
        font-family: $text-font;
        font-size: 1.5rem;
        font-weight: 900;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

/* Our review */
.review-container{
    &__video{
        width: auto;
        height: auto;
    }
    img{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    button{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media (min-width: 576px) {
.review-container{
    max-width: 1000px;
    &__video{
        width: 560px;
        height: 315px;
    }
}
}

.customer-review{
    &__list-item{
        padding: 3%;
        margin-top: 4%;
    }
    button{
        margin-top: 3%;
        margin-bottom: 10%;
    }
}
/* Add review */



/* Profile page */

.profile{
    &__picture{
        height: auto;
        width: 10%;
    }
}

/* Basket */

.basket{
    margin: 2%;
    h2{
        font-family: $title-font;
        font-style: italic;
        font-weight: bold;
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 1.2;  
    }
    &__row{
        display: block;
        margin-top: 5%;
        padding: 2.0%;
        border: 1px solid rgb(105, 105, 105);
    }
    &__image{
        display: inline-block;
        vertical-align: top;
        width: 8.0rem;
    }
    &__adjust{
        display: inline-block;
        width: 60%;

        h5{
            font-family: $text-font;
            font-size: 1.5rem;
            font-weight: 700;
        }

        &__quantity{
            display: inline-block;
            width: 40%;
            margin-top: 3%;
            button{
                height: 1.5rem;
                width: 1.5rem;
                padding-bottom: 0.1rem;
                color: black;
                font-family: $text-font;
                vertical-align: top;
                i{
                    color: white;
                }
            }
            .new_quantity{
                font-weight: 600;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }
        &__size{
            display: inline-block;
            width: 45%;
            font-weight: 500;
            font-size: 1.2rem;
        }
        &__update-button{
            margin-top: 5%;
            font-family: $text-font;
            font-size: 1.2rem;
        }
    }
    &__checkout-button{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.basket-total{
    margin-top: 10%;
}

// Checkout contact details
.checkout-basket{
    margin: 5%;
    font-family: $text-font;   

    &__total{
        font-size: 1.3rem;
        font-weight: 900;
    }


}

.contact-details{
    margin: 5%;
}

.checkout-nav{
    margin-top: 2%;
    .active{
        font-family: $text-font;
        font-style: italic;
        font-weight: 900;
        background-color: white;
        color: black;
    }
}

@media (min-width: 576px) {
    .checkout-nav{
        a{
            font-size: 1.5rem;
        }
    }
}

.order-details-form{
    margin: 5%;
    label{
        font-family: $text-font;
        font-weight: 1.5rem;
    }
    input{
        font-family: $text-font;
        background-color: white;
        height: 40px;
        width: 100%;
        padding: 1.0rem 1.2rem;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #636569;
        margin-bottom: 3%;
    }
    .next-button{
        font-family: $text-font;
        margin-top: 5%;
        margin-bottom: 20%;
        background-image: $primary-button-red;
    }
}
/* Stripe */
.card-details{
    &__label{
        font-family: $text-font;
        font-weight: 900;
        font-size: 1.5rem;

    }
}

.StripeElement {
    display: block;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-bottom: 5%;
    padding: 1.0rem 1.2rem;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #636569;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#submit_payment_btn{
    display: block;
    font-family: $text-font;
    margin-top: 5%;
    margin-bottom: 20%;
    background-image: $primary-button-red;
}

/* Order submitted */

#confetti{
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
}

.confetti-text{
    margin-bottom: 5%;
    &__button{
        margin-top: 3%;
    }
}

.confetti-container{
    padding-top: 10%;
    margin-bottom: 10%;
}

// Footer

.footer{
    background-color: #343a40;

    &__links{
        display: block;
        text-align: center;
        padding-top: 4%;
        :hover{
            color: lightblue;
        }

    }
    &__contact{
        display: block;
        text-align: center;
        margin-top: 4%;
        padding-bottom: 2%;
        color: white;
        a:hover{
            color: lightblue;
        }
        img{
            width: 3.0rem;
        }
    }
    &__kent{
        display: block;
        text-align: center;
        margin-top: 4%;
        padding-bottom: 2%;
        color: white;
        img{
        width: 3.0rem;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
}

@media (min-width: 576px) {
    .footer{
        &__links{
            display: flex;
            justify-content: space-around;
            margin-top: 10%;
            padding-top: 4%;
            font-size: 1.5rem;
            :hover{
                color: lightblue;
            }
    
        }
        &__contact{
            display: block;
            text-align: center;
            margin-top: 3%;
            padding-bottom: 2%;
            font-size: 1.5rem;
            color: white;
            :hover{
                color: lightblue;
            }
        }
        &__kent{
            display: block;
            text-align: center;
            margin-top: 3%;
            padding-bottom: 2%;
            color: white;
            font-weight: 700;
        }
    }
    }