/* Variables */
/* General */
.body, html {
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 900;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 900;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 600;
}

p, li, a {
  font-family: "Open Sans", sans-serif;
}

textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 5rem;
  border-color: black;
  border-radius: 0.2rem;
}

/* Navbar */
nav {
  width: 100%;
}

.nav-dropdown__brand {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-dropdown__link {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.nav-dropdown__link:hover {
  font-style: italic;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}
.nav-dropdown__basket {
  font-style: italic;
  color: white;
  text-decoration: none;
}
.nav-dropdown__basket:hover {
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

@media (min-width: 991px) {
  .nav-dropdown {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
  .nav-dropdown__list {
    display: flex;
    align-items: center;
  }
  .nav-dropdown a {
    color: white;
  }
  .nav-dropdown__brand {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .nav-dropdown__link {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .nav-dropdown__link:hover {
    font-style: italic;
    text-decoration: none;
    transition: 0.3s;
  }
  .nav-dropdown__basket {
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@keyframes jet-animation {
  0% {
    right: 500px;
  }
  25% {
    transform: rotateX(90deg);
  }
  75% {
    transform: scale(2.5, 2);
  }
  100% {
    right: 0px;
  }
}
.jet-logo {
  position: relative;
  animation-name: jet-animation;
  animation-duration: 2s;
  color: white;
}

/* Home page */
.front-page-hero-image {
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (min-width: 576px) {
  .front-page-hero-image {
    height: 65rem;
  }
}
.front-page-hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
}
.front-page-hero-text__title {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.front-page-hero-text__strapline {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.front-page-hero-text__button {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .front-page-hero-text__title {
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 2;
  }
  .front-page-hero-text__strapline {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
  }
  .front-page-hero-text__button {
    margin-top: 10%;
    font-size: 2.5rem;
  }
}
.front-page-info-title {
  display: block;
}
.front-page-info-title h2 {
  font-family: "Montserrat", sans-serif;
  padding-top: 5%;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.front-page-info {
  margin-top: 3%;
  margin-bottom: 10%;
}
.front-page-info__item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 2rem;
}
.front-page-info__item i {
  margin-right: 5%;
  margin-bottom: 1%;
  font-size: 2.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  .front-page-info-title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
  }

  .front-page-info {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .front-page-info__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .front-page-info__item i {
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 2.5rem;
    text-align: center;
  }
}
/* About us */
.about-us {
  max-width: 1000px;
}
.about-us__section {
  display: block;
}
.about-us__section__sub-section {
  display: block;
}

/* Accounts */
.login-form {
  padding-top: 5%;
}
.login-form__button {
  margin-top: 3%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.password-reset-sent__heading {
  margin-top: 3%;
}
.password-reset-sent__heading h2 {
  text-align: center;
}
.password-reset-sent__gif {
  margin: 5%;
}
.password-reset-sent__gif img {
  height: 50%;
  width: 100%;
}

.password-reset-confirm-form {
  margin: 5%;
}
.password-reset-confirm-form button {
  margin-top: 3%;
}

.password-reset-complete {
  margin: 5%;
}
.password-reset-complete__gif {
  margin-top: 3%;
  margin-bottom: 3%;
}
.password-reset-complete__gif img {
  width: 100%;
}

/* All Shoes Page */
.all-shoes-container {
  padding: 2%;
}

.shoe-card {
  padding: 1%;
  margin: 2%;
}

/* Shoe Detail Page */
.shoe-detail {
  display: block;
  width: 100%;
}
.shoe-detail__title {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.shoe-detail__slider {
  margin-top: 4%;
}
@media (min-width: 576px) {
  .shoe-detail__slider {
    display: bblock;
    width: 100%;
  }
}
.shoe-detail__image {
  width: 100%;
}
@media (min-width: 576px) {
  .shoe-detail__image {
    display: inline-block;
    width: 100%;
  }
}

.add-to-basket {
  display: block;
  width: 100%;
  margin: 5%;
}
@media (min-width: 576px) {
  .add-to-basket {
    display: inline-block;
    margin: 0;
    padding-left: 10%;
  }
}

.price-and-quantity-container__price {
  display: inline-block;
  width: 40%;
}
.price-and-quantity-container__price h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}
.price-and-quantity-container__quantity-chooser {
  display: inline-block;
  width: 50%;
  min-width: 8rem;
}
.price-and-quantity-container__quantity-chooser button {
  height: 2.5rem;
  width: 2.5rem;
  color: black;
  border-color: black;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.price-and-quantity-container__quantity-chooser .quantity {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 5%;
}

.size-container {
  width: 90%;
  margin-top: 5%;
  display: block;
}
.size-container__selector-form {
  display: block;
  margin-bottom: 5%;
  width: 100%;
}
.size-container label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.size-container select {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  height: 100%;
  width: 100%;
  text-align: center;
}

.add-to-basket-button {
  display: block;
  margin-top: 10%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.shoe-details {
  margin-top: 10%;
  margin-bottom: 10%;
}
.shoe-details button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Our review */
.review-container__video {
  width: auto;
  height: auto;
}
.review-container img {
  margin-top: 5%;
  margin-bottom: 5%;
}
.review-container button {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width: 576px) {
  .review-container {
    max-width: 1000px;
  }
  .review-container__video {
    width: 560px;
    height: 315px;
  }
}
.customer-review__list-item {
  padding: 3%;
  margin-top: 4%;
}
.customer-review button {
  margin-top: 1%;
}
.customer-review a {
  margin-top: 1%;
}

/* Add review */
/* Profile page */
.profile__picture {
  height: auto;
  width: 10%;
}

/* Basket */
.basket {
  margin: 2%;
}
.basket h2 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.basket__row {
  display: block;
  margin-top: 5%;
  padding: 2%;
  border: 1px solid dimgray;
}
.basket__image {
  display: inline-block;
  vertical-align: top;
  width: 8rem;
}
.basket__adjust {
  display: inline-block;
  width: 60%;
}
.basket__adjust h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.basket__adjust__quantity {
  display: inline-block;
  width: 40%;
  margin-top: 3%;
}
.basket__adjust__quantity button {
  height: 1.5rem;
  width: 1.5rem;
  padding-bottom: 0.1rem;
  color: black;
  font-family: "Open Sans", sans-serif;
  vertical-align: top;
}
.basket__adjust__quantity button i {
  color: white;
}
.basket__adjust__quantity .new_quantity {
  font-weight: 600;
  font-size: 1.5rem;
  vertical-align: top;
}
.basket__adjust__size {
  display: inline-block;
  width: 45%;
  font-weight: 500;
  font-size: 1.2rem;
}
.basket__adjust__update-button {
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}
.basket__checkout-button {
  margin-top: 10%;
  margin-bottom: 10%;
}

.basket-total {
  margin-top: 10%;
}

.checkout-basket {
  margin: 5%;
  font-family: "Open Sans", sans-serif;
}
.checkout-basket__total {
  font-size: 1.3rem;
  font-weight: 900;
}

.contact-details {
  margin: 5%;
}

.checkout-nav {
  margin-top: 2%;
}
.checkout-nav .active {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 900;
  background-color: white;
  color: black;
}

@media (min-width: 576px) {
  .checkout-nav a {
    font-size: 1.5rem;
  }
}
.order-details-form {
  margin: 5%;
}
.order-details-form label {
  font-family: "Open Sans", sans-serif;
  font-weight: 1.5rem;
}
.order-details-form input {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  height: 40px;
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  border: 1px solid;
  box-shadow: 0 1px 3px 0 #636569;
  margin-bottom: 3%;
}
.order-details-form .next-button {
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  margin-bottom: 20%;
  background-image: linear-gradient(#f60606, #ff8383);
}

/* Stripe */
.card-details__label {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.StripeElement {
  display: block;
  background-color: white;
  height: 50px;
  width: 100%;
  margin-bottom: 5%;
  padding: 1rem 1.2rem;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #636569;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#submit_payment_btn {
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  margin-bottom: 20%;
  background-image: linear-gradient(#f60606, #ff8383);
}

/* Order submitted */
#confetti {
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
}

.confetti-text {
  margin-bottom: 5%;
}
.confetti-text__button {
  margin-top: 3%;
}

.confetti-container {
  padding-top: 10%;
  margin-bottom: 10%;
}

.footer {
  background-color: #343a40;
}
.footer a:hover {
  color: lightblue;
}
.footer__links {
  display: block;
  text-align: center;
  padding-top: 4%;
}
.footer__contact {
  display: block;
  text-align: center;
  margin-top: 4%;
  padding-bottom: 2%;
  color: white;
}
.footer__contact img {
  width: 3rem;
}
.footer__contact__social-media {
  display: flex-nowrap;
  justify-content: space-around;
}
.footer__contact__social-media i {
  font-size: 4rem;
}
.footer__contact__strava i {
  font-size: 3rem;
}
.footer__kent {
  display: block;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
  color: white;
}
.footer__kent img {
  width: 3rem;
}
.footer a {
  text-decoration: none;
  color: white;
}

.facebook:hover {
  color: #4267b2;
}

.youtube:hover {
  color: #ff0000;
}

.strava:hover {
  color: #fc4c02;
}

@media (min-width: 576px) {
  .footer__links {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    padding-top: 4%;
    font-size: 1.5rem;
  }
  .footer__contact {
    display: block;
    text-align: center;
    margin-top: 3%;
    padding-bottom: 2%;
    font-size: 1.5rem;
    color: white;
  }
  .footer__kent {
    display: block;
    text-align: center;
    margin-top: 3%;
    padding-bottom: 2%;
    color: white;
    font-weight: 700;
  }
}

/*# sourceMappingURL=styles.css.map */
