{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Checkout{% endblock %}
{% block page_header %}Checkout{% endblock %}
{% block content %}
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="{% url 'contact_details' %}">Contact <i class="fas fa-arrow-right"></i></a>
    <a class="nav-item nav-link" href="{% url 'delivery_details' %}">Delivery</a>
    <a class="nav-item nav-link" href="{% url 'card_details' %}">Payment</a>
</nav>
<div class="checkout-basket">
    <h5>Your basket</h5>    
    <ul class="list-group">
    {% for item in basket_items %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <h6>{{ item.product.name }}</h6>
            </div>
            <div>
                <h6>£{{ item.product.price }}</h6> 
            </div>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <h6>Total: <span>£{{ total }}</span></h6>
            </div>
        </li>
    </ul>
</div>
<form class="contact-details-form" action="{% url 'contact_details' %}" method="post" role="form">
    <h5>Contact details</h5>
    {% csrf_token %}
    {{ contact_form|crispy }}
    <button class="btn btn-block btn-primary btn-lg btn-danger next-button" type="submit">Next</button>
</form>
{% endblock %}