{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Checkout{% endblock %}
{% block page_header %}Checkout{% endblock %}
{% block content %}
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="{% url 'contact_details' %}">Contact</a>
    <a class="nav-item nav-link active" href="{% url 'delivery_details' %}">Delivery <i class="fas fa-arrow-right"></i></a>
    <a class="nav-item nav-link" href="{% url 'card_details' %}">Payment</a>
</nav>
<form action="{% url 'delivery_details' %}" method="post" id="payment-form" role="form">
    {% csrf_token %}
    {{ delivery_form|crispy }}
    <input class="btn btn-block btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Next">
</form>
{% endblock %}