{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Checkout{% endblock %}
{% block page_header %}Checkout{% endblock %}
{% block content %}
<nav class="nav nav-pills nav-fill checkout-nav">
    <a class="nav-item nav-link checkout-nav__contact" href="{% url 'contact_details' %}">Contact</a>
    <a class="nav-item nav-link active checkout-nav__delivery" href="#">Delivery</a>
    <a class="nav-item nav-link disabled checkout-nav__payment" href="#">Payment</a>
</nav>
<div class="checkout-basket">
    <h5>Your basket</h5>    
    <ul class="list-group">
    {% for item in basket_items %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <h6>{{ item.product.name }}</h6>
            </div>
            <div>
                <h6>£{{ item.product.price }}</h6> 
            </div>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <h6 class="checkout-basket__total">Total: <span>£{{ total }}</span></h6>
            </div>
        </li>
    </ul>
</div>
<form class="order-details-form" action="{% url 'delivery_details' %}" method="post" id="payment-form" role="form">
    {% csrf_token %}
    {{ delivery_form|crispy }}
    <button class="btn btn-block btn-primary btn-lg btn-danger next-button" type="submit">Next</button>
</form>
{% endblock %}