{% extends 'base.html' %}
{% block page_title %}Basket{% endblock %}
{% block page_header %}Shopping Basket{% endblock %}
{% block content %}
<div class="basket">
    <h2>Basket</h2>
    {% for item in basket_items  %}
    <div class="basket__row">
        <div class="basket__image">
            <img src="../../media/{{ item.product.primary_image }}" alt="{{ print.title }}" class="img-thumbnail">
        </div>
        <div class="basket__adjust">
            <h5>{{ item.product.name }} £{{ item.product.price }}</h5>
            <div class="basket__adjust__quantity">
                <button class="btn btn-secondary btn-sm minus_update">
                    <i class="fas fa-minus"></i>
                </button>
                <span class="new_quantity" name="new_quantity">{{ item.quantity }}</span>
                <button class="btn btn-secondary btn-sm plus_update">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <p class="basket__adjust__size">Size: {{ item.size }}</p>
            <form id="adjust-basket-form" action="{% url 'adjust_basket' item.product.id item.size %}" method="post">
                {% csrf_token %}
                <button form="adjust-basket-form" class="btn btn-secondary adjust-basket-form basket__adjust__update-button" value={{ item.quantity }} type="submit" name="new_quantity">Update Quantity</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% if total == 0 %}
        <div class="basket-total">
            <h3>You don't have anything in your basket</h3>
            <a class="btn btn-lg btn-block btn-danger" href="{% url 'all_shoes' %}">Shop now</a>
        </div>
        {% else %}
        <div class="basket-total">
            <h3>Total: £{{total}}</h3>
            <a class="btn btn-lg btn-block btn-danger basket__checkout-button" href="{% url 'contact_details' %}">Go to Checkout</a>
        </div>
        {% endif %}
</div>
{% endblock %}