{% extends 'base.html' %}
{% block content %}
<h1>This season's best cross country spikes all in one place</h1>
<div class="container-fluid">
    <p>Check out our video review and see all 5 in action <a href="{% url 'our_reviews' %}">here</a>.</p>
    <div class="row">
        {% for shoe in all_shoes %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-0">
            <div class="card shoe-card">
                    <a href="{% url 'shoe_detail' shoe.id %}">
                        <img class="card-img-top shoe-card__image" src="/media/{{ shoe.primary_image }}" alt="{{ shoe.brand }} {{ shoe.name }}">
                    </a>
                <div class="card-body shoe-card__text">
                    <h3 class="card-title">{{ shoe.brand }} {{ shoe.name }}</h3>
                    <p class="card-text">{{ shoe.strapline }}</p>
                    <ul>
                        <li>Weight: {{ shoe.weight }} g ({{ shoe.weight_ranking }}/5 in test)</li>
                        <li>Wet-weight: {{ shoe.wet_weight }} g ({{ shoe.wet_weight_ranking }}/5 in test)</li>
                        <li>Fit status: {{ shoe.fit_descriptor }}</li> 
                        <li>Supportive-ranking: {{ shoe.support_ranking }}/5 in test</li>
                    </ul>  
                </div>
                <div class="card-footer shoe-card__footer">
                    <a href="{% url 'shoe_detail' shoe.id %}" class="btn btn-primary btn-danger btn-block">Show me more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}