{% extends 'base.html' %}
{% block content %}
<div class="container-fluid review-container">

    <h1>This Season's Best Cross Country Spikes</h1>
    <p>
        One sunny Autumn day we trekked over to Parliament Hill, the home of cross country, to 
        put this season's top cross country spikes through their paces.  
    </p>
    <p>
        Watch this video (complete with epic montage) to see how we got on...
    </p>
    <div>
        <iframe src="https://www.youtube.com/embed/9xVZz_xt5dw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <h2>Can't watch the video right now? Here is a write up...(without montage)</h2>
        <p>
            The 5 shoes we tested were the:
        </p>
        <ul>
            <li>
                Saucony Carrera 3 - The Lightest
            </li>
            <li>
                Brooks Mach 18 - Fast and Agile
            </li>
            <li>
                Saucony Havoc - Solid and Grippy
            </li>
            <li>
                Adidas XCS - The Comfiest
            </li>
            <li>
                Nike Rival XC - A Wider Fit
            </li>
        </ul>
        <h3>What do they all have in common?</h3>
        <p>
            All these shoes are lightweight, cross country racing shoes. All have a pattern of attachable spikes screwed into the sole. 
            For cross country racing there is no better option than spikes. They give all the
            grip of pluggers, but are generally lighter and don't get clogged with mud as the race goes on. I bought all these shoes in my size (size 10) 
            and didn't have a problem with fit on any of them.
        </p>
        <p>
            I would feel confident showing up on 
            race day in any of these shoes. All are good, well-made shoes and all cost about the same as a meal out for two. 
            The purpose of this review is to cut through the marketing jargon and look at
             the features that make them better suited for you as a runner. 
        </p>
        <div class="saucony-carrera-container">
            <h3 class="saucony-carrera">1. Saucony Carrera 3 - A Racing Thoroughbred</h3>
            <img class="img-fluid rounded" src="media/reviews/saucony_carrera_3_ti_yOCR6.jpg" alt="">
            <h4>Summary</h4>
            <p>Great For: Fast shorter races, runners with a high level of conditioning, speed lovers.</p>
            <p>Less Great For: Longer races, support, hard uneven ground, beginners.</p>
            <p class="saucony-carrera__summary">
                Brutally, scarily fast - save this pair for you PBs, when it's been raining for a month and Mo Farah has 
                just turned up on the start line next to you.
                Just strap yourself in and enjoy the ride.
            </p>
            <h4>Fit</h4>
            <p class="saucony-carrera__fit">
                When you first put on these shoes, it feels like you are wearing nothing at all. 
                Saucony's Isofit system which breaks up the outer layer of fabric into fingers, each attached 
                to a lace. 
            </p>
            <p>
                This coupled with the flexibility of the shoe means when you lace up, the shoe hugs 
                your foot like a glove. Out of all the shoes I've owned I feel these are the least likely to be lost to mud suction. The fit is very snug 
                and secure.
            </p>
            <h4>Build</h4>
            <p class="saucony-carrera__build">
                My favourite feature of these shoes is the build quality. They're unlike any other shoe I've seen.
                On the inside the tongue of the shoe is elasticated mesh and is attached directly to the sole giving you even more security.
                The whole shoe is beautifully engineered, the sole is sown into the upper. With all the other shoes on test, you can feel a 
                lot of reinforcement in the heel cup.
                For the Carrera 3s that is not the case. The reinforcement is around the foot to fix the sole onto your foot.
            </p>
            <p>
                The sole is similar on both Saucony shoes and has rear-facing lugs on the forefoot and forward-facing lugs on the rear foot. 
                I really like this feature, it gives you that extra grip when you are flying downhill and have to put the brakes on, forcing you onto your heels.
                Nice thinking Saucony.
            </p>
 
            <h4>Running in them</h4>
            <p class="saucony-carrera__racing">
                I tried these out at the Kent Fitness League Sevenoaks race. It wasn't the wettest race but there were a few muddy patches and some 
                great downhills to try out the grip. Setting off, the weight (or lack of it) feels fantastic compared to my normal flats. You do feel like you have to pick your way a lot more carefully. You can't 
                just plant your feet anywhere, because if you tread in the wrong place, you'll know about it!
            </p>
            <p>
                They are the lightest and most flexible that we tested by a long way. The best thing about cross country is that you can 
                afford to ease up on the cushioning as the grass and mud do the cushioning for you. This does mean however you need more power 
                and quicker retraction of your leg when you hit the ground to travel as fast. The thicker the sole, the longer it takes that 
                message to get through and the more time your foot spends on the ground losing energy. This is where the Carrera 3s come onto 
                their own. You get instant feedback from the ground and as soon as you touch down you can whip your foot up. I felt that my cadence naturally 
                increased quite a bit running in these.
            </p>
            <p>
                Uphill and on the straight they performed without any issues. Downhill felt a little more scary that it usually does. 
                I was taking extra care to uneven ground and was afraid of going over on my ankle. Personally I wouldn't want to run in these for longer
                than 5 or 6 miles for fear of getting too tired in them.
            </p>
            <h4>Overall</h4>
            <p>
                I loved running in these shoes and will definitely be wearing them again. They suit a faster lighter runner and wetter, muddier conditions. 
                If you're a confident cross country runner with a high level of conditioning, then you've found your perfect shoe.
            </p>
        </div>
        <div class="brooks-mach-18-container">
            <h3 class="brooks-mach-18">2. Brooks Mach 18 - Fast and Agile</h3>
            <img class="img-fluid rounded" src="media/reviews/brooks_mach_18_title.jpg" alt="">
            <h4>Summary</h4>
            <p>Great For: Flatter shorter races, going round corners very fast, picking your way through technical courses.</p>
            <p>Less Great For: Longer races, downhills and braking.</p>
            <p class="brooks-mach-18__summary">
                Look like fire and run like them too.
            </p>
            <h4>Fit</h4>
            <p class="brooks-mach-18__fit">
                They have sightly more cushioning on the inside than the Carrera's, and the classic narrow spike fit. Not quite as glove-like as the Carrera's but they 
                more than make up for it by being a bit more padded and feeling a bit more protected whilst still being unbelievably light.  
            </p>
            <h4>Build</h4>
            <p class="brooks-mach-18__build">
                These shoes look fantastic. If Shoepersonic were to design a pair of shoes they would probably look like this. They feel premium. 
                The upper is 3D moulded from a single piece of fabric which makes for a beautifully finished shoe.
            </p>
            <p class="brooks-mach-18__build">
                All the shoes from now on have a traditional tongue and upper design. 
            </p>
            <p>
                The sole is completely different to the pattern of the Carrera's offering more in the way of protection. Brooks have included 'an aggressive lug pattern' to 'increase 
                traction on any surface'. This is true, the sole pattern is very, very spikey even without the spikes although it is all focused on the 
                forefoot of the shoe. The heel has very little in the way of extra grip unlike the Sauconys that have grip on both ends. Because of this
                they felt much better on flatter sections and the extra lugs on the front work superbly when you are going round corners at speed. 
            </p>
            <h4>Running in them</h4>
            <p class="brooks-mach-18__racing">
                We found the spikey sole pattern performed fantastically at 
                changing direction when you're up on your forefoot going quickly. They were really agile and gave me a lot of confidence in their grip. 
                The lack of extra grip on the heel makes me worry about flying downhill on a muddy course and braking before you hit that 5ft stile.
                The extra support was really welcome though and the thicker, more protective sole meant I wasn't worrying about where to put my foot all the time and 
                could concentrate on putting the power down.
            </p>
            <h4>Overall</h4>
            <p>
                I really enjoyed running in these. When you're on your forefoot, running quickly they felt great. Just like the Carreras I have reservations 
                about them for longer races, if you get tired and start getting sloppy then the lack of any meaningful grip on 
                the heel could be an issue.
                 I'd happily use these on shorter, faster races up to 5 miles when I'm feeling fit and strong. I'd use these if I wanted a bit more 
                support and protection than the Carrera's.
            </p>
        </div>
        <div class="saucony-havoc-container">
            <h3 class="saucony-havoc">3. Saucony Havoc XC - Solid and Grippy</h3>
            <img class="img-fluid rounded" src="media/reviews/saucony_havoc_title.jpg" alt="">
            <h4>Summary</h4>
            <p>Great For: Uphill, downhill and technical courses. A great all-rounder with incredible grip.</p>
            <p>Less Great For: Not as well fitting as the previous two on account of the stiffer upper material.</p>
            <p class="saucony-havoc__summary">
                Beefier versions of their cousins with the same great sole design. These sit nicely in the middle of our test as a perfect compromise 
                between the racing pedigree of the Carreras and the Brooks and the more comfortable shoes to follow.
            </p>
            <h4>Fit</h4>
            <p class="saucony-havoc__fit">
                Still a nice snug fit on your foot these are a classic spike shoe design. The upper material  
                is covered in a pattern of ‘sythentic overlays’. These give the upper material a tarpaulin feel so they don’t absorb as much water.
                The stiffer upper material did ruck slightly on my foot shape as they don’t have the isofit system and the material is a bit stiffer. This wasn’t an issue really,
                and again the extra protection is nice to have for cross country.   
            </p>
            <h4>Build</h4>
            <p class="saucony-havoc__build">
                These are the slightly beefier cousins of the Carrera's. They offer more in the way of structural support but have all the grip benefits of the 
                fantastic Saucony sole design with even more pronounced lugs. I spent a long time on a steep hill trying to get them to slip 
                to no avail and that is exactly what you want from a cross country shoe.                    
            </p>
            <h4>Running in them</h4>
            <p class="saucony-havoc__build">
                I tested these a fair bit running downhill. The more rigid structure  of these shoes coupled with plenty of grip meant I didn’t fear for my 
                life as much as with the Carreras. When you're forced onto your heels when braking there is ample grip available for you which gave me a 
                lot of confidence in them to go faster when I might have held back in other shoes.
            </p>
            <h4>Overall</h4>
            <p>
                Everything is more reinforced on these shoes compared to the Carrera's. The heel cup has some reinforcement 
                that is missing on the other shoes and so if you feel like you don't want to go full 'spike' but want a monumental 
                amount of grip on a tough shoe then these are just the job.
            </p>
        </div>
        <br>
        <p>
            We're three out of five of the way through the shoes. The first three are all shoes I would wear on shorter 5 mile races 
            where you can keep your speed up the whole way round. The final two I'd save for longer efforts when you're 
            getting tired and need a bit more support to get through. Equally if you're new to spikes or are nervous about the lack of 
            support the following shoes are a great place to start.
        </p>
        <br>
        <div class="adidas-xcs-container">
            <h3 class="adidas-xcs">4. Adidas XC - The Comfy One</h3>
            <img class="img-fluid rounded" src="media/reviews/adidas_xcs_title.jpg" alt="">
            <h4>Summary</h4>
            <p>Great For: A comfy ride, longer races, beginners.</p>
            <p>Less Great For: More technical courses, might get stuck in the mud.</p>
            <p class="adidas-xcs__summary">
                All the grip benefits of spikes on a regular trainer fit. 
            </p>
            <h4>Fit</h4>
            <p class="adidas-xcs__fit">
                They felt the most roomy on test and are seriously comfy. Putting them on the first time 
                was like coming home. The roominess means when you’re 
                cornering or running technical sections the shoe rotates a little around your foot so the sole 
                faces the ground. If you've ever worn your road flats on a dry, trail run you'll know the feeling. 
                It's not an issue, it just means you can relax a bit more on uneven ground as the 
                shoe ends up doing a bit of the work for you. 
            </p>
            <p>
                The upper is stitched to one side of the tongue of the shoe. I wasn't sure what the point of this was but they 
                fitted snuggly around my foot.
            </p>
            <p>
                A lot of people won't try spikes as they prefer a more relaxed fit than the classic narrow spike design. If that sounds like 
                you I'd really encourage you to try these out. I could easily run to work in them every day, they feel most similar 
                to normal running shoes out of all we tested.
            </p>
            <h4>Build</h4>
            <p class="adidas-xcs__build">  
                These are wonderfully well made. The black looked a bit boring on the internet but in the flesh they
                 look very smart. Everything is well finished and you 
                get the feeling they'll last you a couple of seasons at least if you wanted them to. 
                The sole has some nice grippy lugs on it too as well as a 6 spike pattern. 
                The more supportive structure was nice to run on through uneven ground especially if you’re getting a bit 
                tired as I certainly was towards the end of the test. The sole has a good amount of protection as does the upper
                which was handy for when we tested them through nettles.
            </p>
            <h4>Overall</h4>
            <p class="adidas-xcs__racing">
                I’d recommend these if you are new to running in spikes or are looking for a set of spikes for a longer race (10 miles or half marathon). 
                They give you the all the grip benefits of spikes but the fit of a road shoe. I enjoyed running in them a lot and they feel 
                rugged and well made.
            </p>
        </div>
        <div class="nike-rival-xc-container">
            <h3 class="nike-rival-xc">5. Nike Rival XC - A wider fit</h3> 
            <img class="img-fluid rounded" src="media/reviews/nike_rival_title.jpg" alt="">   
            <h4>Summary</h4>
            <p>Great For: Trails, longer races, beginners and those with wider feet.</p>
            <p>Less Great For: Really muddy courses.</p>
            <p>
                A tough shoe with a wider fit if you don't like the narrower classic spike shape or have wider feet.
            </p>
            <h4>Fit</h4>
            <p class="nike-rival-xc__fit">
                Slightly lighter than the Adidas shoes these have a nice wide toebox to allow your toes to spread a bit more. 
                These will come in handy for longer races or if you just prefer a more relaxed fit. The fit is more snug around the arch of the foot.
            </p>
            <h4>Build</h4>
            <p class="nike-rival-xc__build">  
                Similar to the Adidas these feel tough, solid and well made. The sole has a sort-of giraffe lug pattern 
                that I had reservations about at the start. They felt fine on test but would be good to run in them 
                through some serious mud and rain to see how they gripped. The sole was the stiffest on test on par with the Adidas shoes and 
                was very protective on stony ground.              
            </p>
            <h4>Running in them</h4>
            <p>
                These were very nice to run in. They felt more secure round my foot than the Adidas shoes but the wide toe box was great. 
                The stronger sole gave a lot of protection and confidence when planting my foot and I'd choose these for longer races and trails.
            </p>
            <h4>Overall</h4>
            <p class="nike-rival-xc__overall">
                I really enjoyed running in these. The wider fit was welcome and made for some nice relaxed running. 
                Similar to the Adidas, pick these if you're looking for a set of shoes that give you all the grip benefits of 
                spikes but with a better fit for wider feet or if you don't like the narrower fit on classic spikes. A solid, and 
                comfortable pair of shoes perfect for long races where you want your toes to have a bit more room.
            </p>
        </div>
        <div>
            <h3>Concluding thoughts</h3>
            <p>
                As I mentioned at the start, I would be very happy to turn up on race day in any of these shoes. They all gave me the grip 
                I needed and have features that I appreciated. If you are looking for the fastest times possible I would 
                go for one of the first three. Certainly the Saucony Carrera is the ultimate racing shoe but it also needs a lot of strength and 
                fitness to make the most of it. The Brooks was a fantastic alternative, that fitted superbly and had a bit more protection 
                on the sole. The Saucony Havoc has more protection still on the upper but the fantastic grip benefits of the Saucony sole design. 
                The Adidas pair is perfect for newcomers to spikes or for those looking to take part in longer races and the Nikes offer a 
                wide toe box which we didn't have anywhere else on the test.
            </p>
            <p>
                Happy running and let us know what you think!
            </p>
            <button class="btn btn-danger btn-primary btn-lg btn-block">Go to Shop</button>
        </div>
    </div>
</div>
    {% endblock %}