{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid mb-3">
    <div>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <h1>Login here:</h1>
        <form class="login-form mt-3" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button  class="btn btn-danger btn-block btn-lg btn-primary mt-2" type="submit">Login</button>
        </form>
        <p><a href="{% url 'password_reset'%}">Reset password</a>
         or 
        <a href="{% url 'register'%}">Register</a>.</p>
    </div>
</div>
{% endblock %}