{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600i" rel="stylesheet">
        <link rel="stylesheet" href="../../../static/css/styles.css"> 
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Shoepersonic <i class="fas fa-fighter-jet"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'all_shoes' %}"><i class="fas fa-shoe-prints"></i></i>Shoes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="far fa-star"></i> Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        {% if user.is_authenticated %}                      
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>                            
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if messages %}
                <ul class="alert alert-danger messages" role="alert">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="container-fluid footer">
                <div class="row footer__links">
                    <div class="col footer__links__shop">
                        <h3>Shop</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">All products</a>
                            </li>
                            <li>
                                <a href="#">Delivery</a>
                            </li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col footer__links__about-us">
                        <h3>About Us</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Our story</a>
                            </li>
                            <li>
                                <a href="#">About our reviews</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col footer__links__legal">
                        <h3>Legal</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Stay connected</h3>
                        <p>Sign up to our email list:</p>
                        <input type="email" name="mailinglist" id="">
                    </div>
                </div>
                <div class="row footer__social-media">
                    <i class="fab fa-strava"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'js/stripe.js' %}"></script>
    </body>
</html>