{% extends 'base.html' %}
{% block page_title %}Confirm new password{% endblock %}
{% block page_header %}Confirm new password{% endblock %}
{% block content %}
<div class="row">
    <h3>Welcome back to the fold!</h3>
</div>
<div class="row">
    <a class="badge badge-light" href="{% url 'login' %}">Take me home country road</a>
</div>
<div class="row">
    <a class="badge badge-light" href="{% url 'login' %}">
        <img src="https://media.giphy.com/media/wqko27lWJ6miI/giphy.gif">
    </a>
</div>
{% endblock %}