{% extends 'base.html' %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div>
    <div>
        <h2>Who are we?</h2>
        <p>We love running. We run in the city all week and then 
            race around the Great British Countryside all weekend. We've always struggled to find stock of 
            the fastest running shoes in one place. Running shops they always have a limited choice of 
            racing shoes and online the choice is overwhelming but there is never enough detail about what they are 
            like to run in to make an informed decision. We're here to change that. We take the leading 
            models of a particular type of shoe and go and run around in them... a lot. We then report back on the best aspects of
            each shoe to help you make the best investment.
        </p>
        <p>
            Our pricing fairly reflects the cost of selling the shoe to you. We're a small family run business and we don't have 
            any economies of scale. We buy all the shoes we test and seek to highlight their best features so you can make an informed decision.
        </p>
    </div>
</div>
{% endblock %}