{% extends 'base.html' %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div class="container-fluid front-page">
    <div class="front-page-hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../media/homepage_comp.jpg');">
        <div class="front-page-hero-text">
            <h1 class="front-page-hero-text__title">Shoepersonic</h1>
            <p class="front-page-hero-text__strapline">We try out shoes so you don't have to.</p>
            <a href="{% url 'all_shoes' %}" class="btn btn-primary btn-lg btn-block btn-danger front-page-hero-text__button">Shop now</a>
        </div>
    </div>
    <div class="front-page-info">
        <h3 class="row front-page-info__title">What we do:</h3>
        
        <p class="row front-page-info__item"><i class="fas fa-cart-plus"></i>We buy this season's hottest shoes</p>
        <p class="row front-page-info__item">
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
            We run in them all... 
        </p>
        <p class="front-page-info__item alot">
            ...a lot
        </p>
        <p class="row front-page-info__item"><i class="fas fa-clipboard-list"></i>We review them to help you make the best choice</p>
        <p class="row front-page-info__item"><i class="fas fa-hands-helping"></i>5% of profit go to YOUR running club</p>
        <div class="module">
            <p class="row front-page-info__item"><i class="fas fa-exchange-alt"></i>Free delivery and easy returns if you change your mind</p>
        </div>
    </div>
</div>
{% endblock %}