{% extends 'base.html' %}
{% block page_title %}Shoepersonic{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="front-page-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('media/homepage_comp.jpg');">
        <div class="front-page-text">
            <h1 class="front-page-text__title">Shoepersonic</h1>
            <p>We try out shoes so you don't have to.</p>
            <a href="{% url 'all_shoes' %}" class="btn btn-primary btn-lg btn-block btn-danger">Shop now</a>
        </div>
    </div>
    <div class="row">
        <div class="front-page-about-us">
            <h2>Who are we?</h2>
            <p>We love running. We run in the city all week and then 
                race around the Great British Countryside all weekend. We've always struggled to find stock of 
                the fastest running shoes in one place. Running shops they always have a limited choice of 
                racing shoes and online the choice is overwhelming but there is never enough detail about what they are 
                like to run in to make an informed decision. We're here to change that. We take the leading 
                models of a particular type of shoe and go and run around in them... a lot. We then report back on the best aspects of
                each shoe to help you make the best investment.
            </p>
            <p>
                Our pricing fairly reflects the cost of selling the shoe to you. We're a small family run business and we don't have 
                any economies of scale. We buy all the shoes we test and seek to highlight their best features so you can make an informed decision.
            </p>
        </div>
    </div>
</div>
{% endblock %}